<!DOCTYPE html>
<html>
  <head>
    <title>Wstbot image list</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <style type="text/css">
      .navigation {
        width: 30em;
        height: 2em;
        margin: 0 auto;
        margin-bottom: 2em;
        margin-top: 2em;
        clear: both;
      }

      .navigation div {
        float: left;
      }

      .navigation div+div {
        float: right;
      }

      img {
        clear: both;
      }
    </style>
  </head>
  <body>
    <div class="navigation">
      <div>{navprev}</div>
      <div>{navnext}</div>
    </div>
{images}
    <div class="navigation">
      <div>{navprev}</div>
      <div>{navnext}</div>
    </div>
  </body>
</html>
