<!DOCTYPE html>
<html>
  <head>
    <title>News regex editor</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <style type="text/css">
      #news-editor {
        width: 50em;
        height: 40em;
      }
    </style>
  </head>
  <body>
    <h1>Regex data for news headlines</h1>
    <form method="post" action="news">
      <textarea id="news-editor" name="newsregex">{{regexdata}}</textarea><br />
      <input type="submit" value="OK"><br />
    </form>
  </body>
</html>
