[connection_data]
server = irc.se.quakenet.org
port = 6667
nick = wstbot_
snick = wstbot__
ident = WSTBOT
realname = wIRC bot
channel = #wstbottest

[server_config]
port = 8111
address = http://localhost


