body {
    text-align: center;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(0, 100, 200);
}

a:visited {
}

a:hover {
    text-decoration: underline;
}

a:active {
}

#search-panel {
    background-color: rgb(238, 238, 238);
    padding: 0.7em;
    margin-bottom: 1.5em;
    border-bottom: 2px solid rgb(220, 220, 220);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#media-content {
    padding-top: 4em;
}

#media-content a, .item-title {
    font-size: 12pt;
    z-index: 0;
}

#cleanup {
    position: fixed;
    z-index: 2;
    top: 0.5em;
    left: 0.5em;
}

#escape {
    position: fixed;
    top: 0.5em;
    right: 0.5em;
    z-index: 2;
}

.navigation {
    width: 30em;
    height: 1em;
    margin: 0 auto;
    margin-bottom: 2em;
    margin-top: 2em;
    clear: both;
}

.navigation div {
    float: left;
}

.navigation div+div {
    float: right;
}

.item-title {
    font-weight: bold;
}

.delete-button {
    margin-left: 1em;
    vertical-align: center;
}

.video-placeholder {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

img {
    clear: both;
    max-width: 1000px;
    height: auto;
    image-orientation: from-image;
}

ul {
    list-style-type: none;
    padding: 0;
}

hr {
    border: 0;
    /*width: 5%;*/
    max-width: 200px;
    background-image: url('../img/separator.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 10px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.nav-divider {
    width: 100%;
    color: #666;
    background-color: #666;
}

.search-form input {
    margin-left: 0.2em;
}
