body {
    text-align: center;
}

#search-panel {
    background-color: #eee;
    padding: 1em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#escape {
    width: 100%;
    text-align: right;
}

.navigation {
    width: 30em;
    height: 1em;
    margin: 0 auto;
    margin-bottom: 2em;
    margin-top: 2em;
    clear: both;
}

.navigation div {
    float: left;
}

.navigation div+div {
    float: right;
}

.item-title {
    font-weight: bold;
}

.delete-button {
    margin-left: 1em;
    vertical-align: center;
}

img {
    clear: both;
    max-width: 1000px;
    height: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

hr {
    border: 0;
    width: 45%;
    color: #bbb;
    background-color: #bbb;
    height: 1px;
}

.nav-divider {
    width: 100%;
    color: #666;
    background-color: #666;
}

.search-form input {
    margin-left: 0.7em;
}
