body {
    text-align: center;
}

.navigation {
    width: 30em;
    height: 2em;
    margin: 0 auto;
    margin-bottom: 2em;
    margin-top: 2em;
    clear: both;
}

.navigation div {
    float: left;
}

.navigation div+div {
    float: right;
}

.item-title {
    font-weight: bold;
}

img {
    clear: both;
}

ul {
    list-style-type: none;
    padding: 0;
}
