separator: '::'
sources:
- name: slashdot.org
  patterns:
  - description: title or headline
    pattern: <title>(.*) - Slashdot
  url pattern: ((https?://)(www\.)?(.*\.)?slashdot\.org/.*)
- name: imdb.com
  patterns:
  - description: title or headline
    pattern: <title>(.*) - IMDb
  - description: secondary information
    pattern: <strong><span itemprop="ratingValue">(.*)</span></strong>
  url pattern: ((https?://)(www\.)?imdb\.com/.*)

